*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --head-font:'Alegreya' ; 
}
@font-face {
    font-family:'Alegreya' ;
    src: url(../webfonts/Alegreya-VariableFont_wght.ttf);
}
body{
    background: linear-gradient(#3c3eca,#d09da0,#847ddb,#f78ad5);
}
.bookmark{
    background-color: rgba(255, 255, 255, 0.383);
}
.book-head{
    border-bottom: 3px solid #303030;
}
.book-outbut{
    border-top: 1px solid rgb(182, 182, 182);
}
h1{
    font-family: var(--head-font);
    font-size: 80px;
    font-weight: 800;
    letter-spacing: 0.5em;
}
h2
{
    font-family: var(--head-font);
    font-size: 30px;
    font-weight: 800;
    color: rgba(28, 28, 28, 0.723);
}
.btn{
    border: none;
}
.submit{
    margin-top: 10px;
    padding: 5px 50px;
}